body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(209, 245, 255);
    color: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ffcc00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

table td {
    padding: 15px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

table img {
    max-width: 100%;
    height: 200px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

table td p {
    text-align: justify;
}

table td:last-child {
    text-align: center;
}

table td:hover {
    background-color: #f9f9f9;
}

table img:hover {
    transform: scale(1.1);
}


